.search {
  position: relative;
  &_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid #2a2a2a;
    &_icon {
      flex-shrink: 0;
      margin: 0 5px;
      font-style: normal;
      text-align: center;
    }
    &_label {
      flex: 1;
      height: 100%;
      padding: 5px 5px 5px 0;
    }
    &_text {
      width: 100%;
      height: 100%;
      font-size: 20px;
    }
  }
  &_result {
    &_text {
      margin-top: 15px;
      padding: 10px 5px;
      font-size: 15px;
      color: #666;
      &_em {
        font-weight: bold;
        color: #2a2a2a;
      }
    }
    &_list {
      border: 1px solid #909090;
      border-width: 1px 0;
    }
    &_item {
      border-top: 1px solid #f1f1f1;
      &:first-child {
        border-top: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &_link {
      @include ellipsis;
      padding: 12px 5px;
      color: #2a2a2a;
    }
    &_no {
      padding: 100px 0;
      color: #666;
      font-size: 16px;
      text-align: center;

      &_em {
        font-weight: bold;
        color: #2a2a2a;
      }
    }
  }
}