section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
  border: 1px solid #1a1a1a;
}
h1 {
  flex-shrink: 0;
}

canvas {
  border: 1px solid #1a1a1a;
}