<!DOCTYPE html><!--[D] 그린 컬러 .green 추가-->
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="all">
<title>일정 :  일정 : 오버워치 e스포츠</title>
<meta name="keywords" content="오버워치">
<meta name="description" content="오버워치의 박진감 넘치는 게임플레이를 자세히 살펴보세요.">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Overwatch E-Sports">
<meta property="og:locale" content="ko_KR">
<meta property="og:title" content="오버워치 이스포츠">
<meta property="og:description" content="오버워치의 박진감 넘치는 게임플레이를 자세히 살펴보세요.">
<link rel="shortcut icon" href="https://d3hmvhl7ru3t12.cloudfront.net/img/favicon-bb6200267bbdea6fdc9eb498a88722007dad6eb3b3c6437440025c66cb055fefdd1fbedf3886bd069fc3547c79fa8afee4795a278a644f6cfe10a7b1144f48bb.ico">
<link rel="stylesheet" href="../css/libs/libs.css">
<link rel="stylesheet" href="../css/overwatch.css">
</head>
<body>
<!-- 공통 배너 -->
<div class="common_banner">
	<a href="#" class="bnr_bx" target="_blank">
		<div class="inner">
			<h3 class="match_title"><em class="live">ON AIR</em>16강 B그룹 4경기</h3>
			<span class="btn_live">생방송</span>
			<div class="team_item_bx">
				<em class="blind">경기 진행 팀명</em>
				<div class="team_item">
					<strong class="team team1">KONGDOO PANTHERA</strong>
					<img src="../images/team/@team_logo_sm3.png" class="team_logo" alt="">
				</div>
				<span class="txt_bx">
					<span class="txt">VS</span>
				</span>
				<div class="team_item">
					<img src="../images/team/@team_logo_sm2.png" class="team_logo" alt="">
					<strong class="team team2">MISFITS</strong>
				</div>
			</div>
		</div>
	</a>
	<button type="button" class="close">닫기</button>
</div>
<!-- //공통 배너 -->
<div id="wrap" class="schedule">
	<!--[D] HEADER -->

	<header id="header" class="header_sub">
		<!-- [D] global navigation bar -->
		<div class="header_mini">
			<h1 class="logo_overwatch"><a href="#"><img src="../images/svg/logo_overwatch.svg" alt="OVERWATCH"></a></h1>
			<button type="button" class="btn_menu">메뉴 영역 열기</button>
		</div>
		<div class="header_top is_display">
			<div class="inner">
				<div class="nav_wrap">
					<h1 class="logo_overwatch pc_logo"><a href="#"><img src="../images/svg/logo_overwatch.svg" alt="OVERWATCH"></a></h1>
					<h1 class="logo_overwatch m_logo"><a href="#"><img src="../images/svg/logo_overwatch2.svg" alt="OVERWATCH"></a></h1>
					<nav id="nav">
						
						
						
						
						<div class="nav_area">
							<a href="#" class="nav_cont">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<span class="blank">컨텐더스</span></span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<span class="blank"></span>트라이얼</span>
							</a>
							<a href="#" class="nav_cont on">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<span class="blank"></span>오픈 디비전</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<span class="blank"></span>대학 경쟁전</span>
							</a>
						</div>
					</nav>
				</div>
				<div class="nav_utill">
					<!-- 추가 메뉴 -->
					<ul class="list_link">
					<li class="link_item">
						<a href="#">
							<img src="../images/logo/logo_division2.png" alt="오버워치 여성부 리그">
							<span class="tit">오버워치<span class="blank"></span>여성부 리그</span>
						</a>
					</li>
					<li class="link_item">
						<a href="#">
							<img src="../images/logo/logo_worldcup.png" alt="오버워치 월드컵">
							<span class="tit">오버워치<span class="blank"></span>월드컵</span>
						</a>
					</li>
					</ul>
					<!-- //추가 메뉴 -->
					<ul class="list_link">
					<li class="link_item">
						<a href="#">
							<img src="../images/logo/logo_league2.png" alt="오버워치 리그">
							<span class="tit">오버워치<span class="blank"></span>리그</span>
						</a>
					</li>
					</ul>
					<ul class="list_utill">
					<li class="utill_item"><a href="#" class="tit" target="_blank">티켓예매</a></li>
					<li class="utill_item"><a href="#" class="tit">대회후원</a></li>
					</ul>
				</div>
				<button type="button" class="btn_close">GNB 닫기</button>
			</div>
		</div>
		<!-- //[D] global navigation bar -->
	</header>
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
				<div class="top_content">
			
			
			<div class="visual_area">
				<!-- Main Visual -->
				<h2 class="blind">Main Visual 영역</h2>
				<img src="../images/key_visual_sub_opendivision.jpg" alt="">
				<!-- //Main Visual -->
			</div>
			<div class="top_inner">
				<div class="title_area">
					<h2 class="h_tit">오버워치 오픈 디비전 코리아</h2>
					<div class="date_bx">
						<span class="season"><em>SEASON 1</em></span>
						<span class="date">2018. 01. 28 ~ 2018. 02. 04</span>
					</div>
					<span class="logo"><img src="../images/logo/logo_division.png" alt=""></span>
					<p class="txt">오버워치 오픈디비전 코리아는 세계적인 오버워치 스타 선수가 되기 위한 첫 여정입니다.<br>프로 선수가 되고 싶은 유저들이 팀으로 모여 그 능력을 시험해 볼 수 있는 공간으로, 프로가 되기 위한 길로 향하는 첫 번째 관문입니다.</p>
			
			
				</div>
				 
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li><a href="#">경기 현황</a></li>
						<li class="on"><a href="#">일정</a></li>
						<li><a href="#">팀</a></li>
						<li><a href="#">영상</a></li>
						<li><a href="#">뉴스</a></li>
						<li><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				    
			</div>
		</div>
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">일정</h3>
				<p class="sub_dsc">* 첫 경기 종료시점에 따라 이후 경기 시작시간이 조정될 수 있습니다.</p>
			</div>
		</div>
		<div class="schedule_wrap">
						<div class="filter_area"><!--[D] .on 추가시 필터 열림-->
				<div class="filter_top">
					<a href="#" class="tit">
						<em class="num">2018</em>년도<em class="num">1</em>시즌<em class="txt">전체</em>주차<em class="txt">전체</em>팀
					</a>
					<button type="button" class="btn_filter">상세검색</button>
				</div>
				<div class="filter_bx">
					<div class="filter_cont">
						<div class="filter_item item1">
							<strong class="tit">단계</strong>
							<div class="sel_bx"><!-- [D] 모바일 디바이스 일때 .mobile 추가  -->
								<a href="#" class="sel_tit"><span>전체</span></a>
								<div class="lst_bx"><!--[D] 웹에서 활용-->
									<ul class="sel_lst">
										<li class="sel_item"><a href="#"><span>2018년</span></a></li>
										<li class="sel_item"><a href="#"><span>2017년</span></a></li>
										<li class="sel_item"><a href="#"><span>2016년</span></a></li>
									</ul>
								</div>
								<select class="m_sel_bx"><!--[D] 모바일 디바이스에서 활용-->
									<option value="">전체</option>
									<option value="">2018년</option>
									<option value="">2017년</option>
									<option value="">2016년</option>
								</select>
							</div>
							<div class="sel_bx">
								<a href="#" class="sel_tit"><span>전체</span></a>
								<div class="lst_bx"><!--[D] 웹에서 활용-->
									<ul class="sel_lst">
										<li class="sel_item"><a href="#"><span>1시즌</span></a></li>
										<li class="sel_item"><a href="#"><span>2시즌</span></a></li>
										<li class="sel_item"><a href="#"><span>3시즌</span></a></li>
									</ul>
								</div>
								<select class="m_sel_bx"><!--[D] 모바일 디바이스에서 활용-->
									<option value="">전체</option>
									<option value="">1시즌</option>
									<option value="">2시즌</option>
									<option value="">3시즌</option>
								</select>
							</div>
						</div>
						<div class="filter_item item2">
							<strong class="tit">1주차</strong>
							<div class="sel_bx">
								<a href="#" class="sel_tit"><span>전체</span></a>
								<div class="lst_bx"><!--[D] 웹에서 활용-->
									<ul class="sel_lst">
										<li class="sel_item"><a href="#"><span>1주차</span></a></li>
										<li class="sel_item"><a href="#"><span>2주차</span></a></li>
										<li class="sel_item"><a href="#"><span>3주차</span></a></li>
										<li class="sel_item"><a href="#"><span>4주차</span></a></li>
										<li class="sel_item"><a href="#"><span>5주차</span></a></li>
									</ul>
								</div>
								<select class="m_sel_bx"><!--[D] 모바일 디바이스에서 활용-->
									<option value="">전체</option>
									<option value="">1주차</option>
									<option value="">2주차</option>
									<option value="">3주차</option>
									<option value="">4주차</option>
									<option value="">5주차</option>
								</select>
							</div>

						</div>
						<div class="filter_item item_full on">
							<strong class="tit">팀</strong>
							<div class="fil_area">
							<ul class="team_lst">
								<li class="team_item all_item">
									<input type="radio" id="chk1" name="inp_team" class="inp_rdo"><label for="chk1"><img src="../images/team/@team_logo_sm.png" alt="팀 로고"><em class="">전체</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk2" name="inp_team" class="inp_rdo"><label for="chk2"><img src="../images/team/@team_logo_sm2.png" alt="팀 로고"><em class="">FNATIC</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk3" name="inp_team" class="inp_rdo"><label for="chk3"><img src="../images/team/@team_logo_sm3.png" alt="팀 로고"><em class="">RUNAWAY</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk4" name="inp_team" class="inp_rdo"><label for="chk4"><img src="../images/team/@team_logo_sm4.png" alt="팀 로고"><em class="">KONGDOO PANTHERA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk5" name="inp_team" class="inp_rdo"><label for="chk5"><img src="../images/team/@team_logo_sm2.png" alt="팀 로고"><em class="">BK STARS</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk6" name="inp_team" class="inp_rdo"><label for="chk6"><img src="../images/team/@team_logo_sm3.png" alt="팀 로고"><em class="">ENVYUS</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk7" name="inp_team" class="inp_rdo"><label for="chk7"><img src="../images/team/@team_logo_sm4.png" alt="팀 로고"><em class="">META ATHENA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk8" name="inp_team" class="inp_rdo"><label for="chk8"><img src="../images/team/@team_logo_sm2.png" alt="팀 로고"><em class="">MVP INFINITY</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk9" name="inp_team" class="inp_rdo"><label for="chk9"><img src="../images/team/@team_logo_sm3.png" alt="팀 로고"><em class="">AFREECA FREECS BLUE</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk10" name="inp_team" class="inp_rdo"><label for="chk10"><img src="../images/team/@team_logo_sm4.png" alt="팀 로고"><em class="">LUNATIC-HAI</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk11" name="inp_team" class="inp_rdo"><label for="chk11"><img src="../images/team/@team_logo_sm2.png" alt="팀 로고"><em class="">CLOUD9</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk12" name="inp_team" class="inp_rdo"><label for="chk12"><img src="../images/team/@team_logo_sm3.png" alt="팀 로고"><em class="">KONGDOO UNCIA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk13" name="inp_team" class="inp_rdo"><label for="chk13"><img src="../images/team/@team_logo_sm4.png" alt="팀 로고"><em class="">MISFITS</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk14" name="inp_team" class="inp_rdo"><label for="chk14"><img src="../images/team/@team_logo_sm2.png" alt="팀 로고"><em class="">FNATIC</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk15" name="inp_team" class="inp_rdo"><label for="chk15"><img src="../images/team/@team_logo_sm3.png" alt="팀 로고"><em class="">RUNAWAY</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk16" name="inp_team" class="inp_rdo"><label for="chk16"><img src="../images/team/@team_logo_sm4.png" alt="팀 로고"><em class="">KONGDOO PANTHERA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk17" name="inp_team" class="inp_rdo"><label for="chk17"><img src="../images/team/@team_logo_sm2.png" alt="팀 로고"><em class="">BK STARS</em></label>
								</li>
							</ul>
							</div>
							<button type="button" class="btn_view">전체 팀 보기</button><!--[D] 텍스트 변경 : 전체 팀 보기 ↔ 닫기-->
						</div>
					</div>
					<div class="btn_area">
						<button class="btn_apply">적용</button><button class="btn_cancel">취소</button>
					</div>
				</div>
			</div>
			<div class="schedule_area">
				<!-- Bind Component -->
				<ul class="list_schedule bindSchedule">
				</ul>
			</div>
		</div>
		<!-- 띠배너 -->
		<a href="#" target="_blank" class="banner_wrap2" style="background-color:#839cd9">
			<div class="inner">
				<div class="text_area">
					<p class="tit"><img src="../images/txt_overwatch.png" alt="overwatch"></p>
					<p class="sub">미래의 전장에서 궁극의 팀 기반<br>슈팅 게임을 플레이하십시오.</p>
				</div>
			</div>
			<img src="../images/banner4.jpg" alt="">
		</a>
		<!-- //띠배너 -->
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
	<footer id="footer">
		<div class="footer_area">
			<ul class="menu">
			<li class="menu_item"><a href="http://kr.blizzard.com/ko-kr/company/about/privacy.html" class="menu_txt" target="_blank">PRIVACY</a></li>
			<li class="menu_item"><a href="http://kr.blizzard.com/ko-kr/company/legal/" class="menu_txt" target="_blank">TERMS</a></li>
			<li class="menu_item"><a href="https://playoverwatch.com/ko-kr/esports/" class="menu_txt" target="_blank">오버워치 e스포츠</a></li>
			<li class="menu_item family"> <!-- [D] 패밀리사이트 클릭할 때 클래스 on 추가 -->
				<a href="#" class="menu_txt">패밀리 사이트</a>
				<ul class="family_lst">
					<li class="family_item"><a href="https://overwatchleague.com/ko-kr/" target="_blank" class="family_txt">오버워치 리그</a></li>
					<li class="family_item"><a href="https://www.overwatchcontenders.com" target="_blank" class="family_txt">오버워치 컨텐더스 글로벌</a></li>
					<li class="family_item"><a href="https://worldcup.playoverwatch.com/ko-kr/" target="_blank" class="family_txt">오버워치 월드컵 글로벌</a></li>
					<li class="family_item"><a href="https://www.blizzard.com/ko-kr/" target="_blank" class="family_txt">블리자드</a></li>
				</ul>
			</li>
			</ul>
			<div class="footer_info">
				<em>블리자드 엔터테인먼트 유한 회사</em>
				<ul class="info_lst">
					<li class="first">주소 : 06164 서울시 강남구 테헤란로 521 파르나스타워 15층</li>
					<li>대표 번호 : 1644-0727</li>
					<li>팩스 번호 : (02)544-3038</li>
					<li>이메일 : <a href="mailto:websupport@blizzard.co.kr">websupport@blizzard.co.kr</a></li>
					<li class="first">사업자 등록 번호 : 211-87-49910 </li>
					<li>통신 판매업 신고 번호 : 강남-6017호</li>
					<li class="link"><a href="http://ftc.go.kr/bizCommPop.do?wrkr_no=&apv_perm_no=2004322008330206017" target="_blank">사업자정보확인</a></li>
					<li class="first">대표이사 :  마이클 모하임, 마이클 퐁</li>
					<li>개인정보 보호책임자 : 전동진 Operation팀 / Operation 담당이사</li>
				</ul>
			</div>
		</div>
		<div class="footer_content">
			<ul class="social">
			<li><a href="https://www.facebook.com/OverwatchKR" class="facebook" target="_blank"><span class="blind">페이스북</span></a></li>
			<li><a href="https://twitter.com/OverwatchKR" class="twitter" target="_blank"><span class="blind">트위터</span></a></li>
			<li><a href="https://www.youtube.com/OverwatchKR" class="youtube" target="_blank"><span class="blind">유투브</span></a></li>
			<li><a href="https://www.twitch.tv/playoverwatch_kr" class="twitch" target="_blank"><span class="blind">트위치</span></a></li>
			<li><a href="http://tv.naver.com/overwatchkr" class="naver" target="_blank"><span class="blind">네이버TV</span></a></li>
			</ul>
			<p class="copyright">&copy;2018 BLIZZARD ENTERTAINMENT, INC. ALL RIGHTS RESERVED.<br>All trademarks referenced herein are the properties of their respective owners.</p>
			<a href="#" class="logo">오버워치</a>
		</div>
	</footer> 

	<a href="#" class="btn_top">TOP</a>
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
<!-- 스코어 레이어 -->
<div id="layer_score" class="layer_wrap">
	<div class="layer_content">
		<h2 class="layer_tit">플레이오프 8강 1경기</h2>
		<ul class="top_match_info">
		<li class="match_date">2018.03.03. 1:00PM</li>
		</ul>
		<a href="#" class="btn_highlight"><span class="txt"><span class="in">하이라이트 <br>영상보기</span></span></a>
		<div class="match_info">
			<h3 class="blind">상세 전적 정보</h3>
			<div class="match_top">
				<div class="team_bx">
					<a href="#" class="team_logo"><img src="../images/team/@team_logo_big.png" alt=""></a>
					<span class="name">MISFITSMISFITSMISFITSMISFITSMISFITSMISFITS</span>
				</div>
				<div class="score_bx">
					<em class="score score1 win">40</em>
					<span class="txt">:</span>
					<span class="score score2">10</span>
				</div>
				<div class="team_bx">
					<span class="name">BK STARTSBK STARTSBK STARTS</span>
					<a href="#" class="team_logo"><img src="../images/team/@team_logo_big2.png" alt=""></a>
				</div>
			</div>
			<div class="match_detail">
				<div class="table_wrap">
					<table class="table_field">
					<caption><span>경기 전적 정보</span></caption>
					<colgroup><col class="col1"><col class="col2"><col class="col3"></colgroup>
					<thead>
						<tr>
							<th scope="col">첫번째 팀 스코어</th>
							<th scope="col">전장</th>
							<th scope="col">두번째 팀 스코어</th>
						</tr>
					</thead>
					<tbody id="targetField">
					<tr data-id="field1" class="field1">
						<td><div class="score score1">0</div></td>
						<td><div class="field">네팔<a href="https://www.twitch.tv/videos/240460227" class="btn_go" target="_blank">PLAY</a></div></td>
						<td><div class="score score2 win">2</div></td>
					</tr>
					<tr data-id="field2" class="field2">
						<td><div class="score score1 win">3</div></td>
						<td><div class="field">할리우드<a href="https://www.twitch.tv/videos/240460978" class="btn_go" target="_blank">PLAY</a></div></td>
						<td><div class="score score2">1</div></td>
					</tr>
					<tr data-id="field3" class="field3">
						<td><div class="score score1 win">1</div></td>
						<td><div class="field">아누비스 신전<a href="https://www.twitch.tv/videos/240461478" class="btn_go" target="_blank">PLAY</a></div></td>
						<td><div class="score score2">0</div></td>
					</tr>
					<tr data-id="field4" class="field4">
						<td><div class="score score1 win">2</div></td>
						<td><div class="field">도라도<a href="https://www.twitch.tv/videos/240462030" class="btn_go" target="_blank">PLAY</a></div></td>
						<td><div class="score score2">0</div></td>
					</tr>
					<tr data-id="field4" class="field4">
						<td><div class="score score1 win">2</div></td>
						<td><div class="field">도라도<a href="https://www.twitch.tv/videos/240462030" class="btn_go" target="_blank">PLAY</a></div></td>
						<td><div class="score score2">0</div></td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="btn_close">CLOSE</button>
</div>
<!-- //스코어 레이어 -->
<!--미디어 레이어 -->
<div id="layer_media" class="layer_wrap layer_wrap2">
	<div class="layer_content">
		<h2 class="layer_tit">관련 영상 팝업 관련 영상 팝업 관련 영상 팝업 관련 영상 팝업</h2>
		<ul class="top_match_info">
		<li class="match_date">2018.03.03. 1:00오후</li>
		</ul>
		<ul class="share_area">
		<li class="share_bx">
		<ul class="social">
			<li><a href="#" class="facebook"><span class="blind">페이스북</span></a></li>
			<li><a href="#" class="twitter"><span class="blind">트위터</span></a></li>
			<li><a href="#" class="copy"><span class="blind">링크복사</span></a></li>
		</ul>
		</li>
		</ul>
		<div class="video_wrap">
			<h3 class="blind">영상 보기</h3>
			<div class="main_video">
				<iframe src="https://www.youtube.com/embed/zqhU76d690o" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<button type="button" class="btn_close">CLOSE</button>
</div>
<!--//미디어 레이어-->
<!-- 팀 정보 레이어-->
<div id="layer_team" class="layer_wrap">
	<div class="layer_content">
		<div class="top_area">
			<h2 class="layer_tit"><span>META ATHENA</span></h2>
			<p class="area">SEOUL</p>
			<p class="txt">Lunatic-Hai 멤버의 EscA, zumba, Miro, ryujehong, tobi<br>그리고 Gido로 구성된 서울 다이너스티(Seoul Dunasty)는, 뛰어난 팀워크와<br>개인기로 이미 검증된 챔피언들로, 오버워치 APEX 시즌2와 시즌3에서 우승하였고,<br>오버워치 월드컵에서 서울과 한국을 대표했습니다.</p>
			<img src="../images/team/@team_logo_big.png" class="logo" alt="">
			<ul class="social">
			<li><a href="#" target="_blank" class="homepage"><span class="blind">홈페이지</span></a></li>
			<li><a href="#" target="_blank" class="facebook"><span class="blind">페이스북</span></a></li>
			<li><a href="#" target="_blank" class="twitter"><span class="blind">트위터</span></a></li>
			<li><a href="#" target="_blank" class="instagram"><span class="blind">인스타그램</span></a></li>
			<li><a href="#" target="_blank" class="youtube"><span class="blind">유투브</span></a></li>
			<li><a href="#" target="_blank" class="twitch"><span class="blind">트위치</span></a></li>
			</ul>
		</div>
		<div class="layer_inner">
			<div class="inner">
				<div class="team_picture"><img src="../images/team/@team_picture.jpg" alt=""></div>
				<div class="member_area">
					<h3 class="h_tit">선수명단</h3>
					<div id="memberBox">
						<ul class="list_member">
						<li>
							<span class="thumb"><img src="../images/team/team_member_default.png" alt="팀"></span>
							<div class="info">
								<span class="ico offense"><img src="../images/svg/role_offense.svg" alt="공격"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member.png" alt=""></span>
							<div class="info">
								<span class="ico tank"><img src="../images/svg/role_tank.svg" alt="돌격"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member2.png" alt=""></span>
							<div class="info">
								<span class="ico flex"><img src="../images/svg/role_flex.svg" alt="플렉스"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member3.png" alt=""></span>
							<div class="info">
								<span class="ico support"><img src="../images/svg/role_support.svg" alt="지원"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member4.png" alt=""></span>
							<div class="info">
								<span class="ico support"><em>후보</em></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="btn_close">CLOSE</button>
</div>
<!-- //팀 정보 레이어-->
<!-- [D] LAYER -->
<!-- Javascript -->
<script src="../js/libs/jquery-1.12.4.min.js"></script>
<!--Libs-->
<script src="../js/libs/jquery.animate-enhanced.custom.js"></script>
<script src="../js/libs/jquery.json-2.2.min.js"></script>
<script src="../js/libs/jquery.ba-outside-events.js"></script>
<script src="../js/libs/slick.js"></script>
<script src="../js/libs/jquery.bxslider.js"></script>
<script src="../js/libs/swiper.js"></script>
<script src="../js/libs/iscroll.js"></script>
<!--Apps-->
<script src="../js/apps/common.js"></script>
<script src="../js/apps/common_ui.js"></script>
<script src="../js/apps/main.js"></script>
<script src="../js/apps/bracket.js"></script>
<script src="../js/apps/standing.js"></script>
<script src="../js/apps/schedule.js"></script>
<script src="../js/apps/team.js"></script>
<script src="../js/apps/media.js"></script>
<!-- // Javascript -->

<!-- Test -->
<script src="../js/apps/test.js"></script>

<script src="dataBind.js"></script>

<script>
$(function(){
	// 일정, 일정 목록 Bind (2 Nesting Case)
    $('.bindSchedule').dataBind({
		idx : 'case2',
        url : './schedule.json',
        target : 'bindSchedule', // X-template(ID), target(Class)
        target2 : 'bindScheduleLst', // X-template(2 Nesting Content ID)
        type : 'nest2', // Type(2 Nesting Content)
	});
	
});
</script>

<!-- 일정 Bind -->
<script type="text/x-template" id="bindSchedule">
<li data-week="2018-2-3" class="week_item">
	<a href="#" class="summary">
		<span class="day">{{week}} 주차</span>
		<span class="date">{{beginWeek}} - {{endWeek}}</span>
	</a>
	<ul class="list_schedule_detail bindScheduleLst">
	</ul>
</li>
</script>

<!-- 일정 목록 Bind -->
<script type="text/x-template" id="bindScheduleLst">
<li class="detail_item">
	<div class="match_info">
		<div class="match_date">
			<span class="date">{{matchBeginDate}} - {{matchBeginTime}}</span>
			<span class="day">{{dayOfWeek}}</span>
		</div>
		<div class="btn_area">
			<a href="javascript:void(0);" class="btn btn_score disabled">전장스코어</a><!--[D] 비활성화 .disabled 추가-->
			<a href="javascript:void(0);" class="btn btn_play disabled">영상보기</a><!--[D] 비활성화 .disabled 추가-->
		</div>
		<div class="match_up">
			<div class="team team1 {{teamWin1}}">
				<a href="#" class="team_logo"><img src="{{team1LogoImageFilePath}}/{{team1LogoImageFileName}}" alt=""></a>
				<span class="name">{{team1Name}}</span>
				<span class="score">{{team1Score}}</span>
			</div>
			<div class="team team2 {{teamWin2}}">
				<a href="#" class="team_logo"><img src="{{team2LogoImageFilePath}}/{{team2LogoImageFileName}}" alt=""></a>
				<span class="name">{{team2Name}}</span>
				<span class="score">{{team2Score}}</span>
			</div>
			<span class="versus"></span>
		</div>
	</div>
</li>
</script>
</body>
</html>