/* Font */
@font-face {
  font-family: 'Noto Sans KR';
  src: url(asset/font/NotoSansCJKkr-DemiLight.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url(asset/font/NotoSansCJKkr-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url(asset/font/NotoSansCJKkr-Bold.woff) format('woff');
  font-weight: 700;
}