@charset "UTF-8";
/* notosans */
@font-face {
  font-family: 'notokr';
  src: url(font/notokr-regular.eot);
  src: url(font/notokr-regular.eot?#iefix) format("embedded-opentype"), url(font/notokr-regular.woff) format("woff"), url(font/notokr-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'notokr';
  font-weight: 600;
  src: url(font/notokr-bold.eot);
  src: url(font/notokr-bold.eot?#iefix) format("embedded-opentype"), url(font/notokr-bold.woff) format("woff"), url(font/notokr-bold.ttf) format("truetype");
}

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, article, aside, dialog, footer, header, section, footer, nav, figure, main {
  margin: 0;
  padding: 0;
}

article, aside, dialog, footer, header, section, footer, nav, figure, main {
  display: block;
}

html, body {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body, input, select, textarea, button {
  font-family: 'notokr', '돋움', Dotum, sans-serif;
  font-size: 12px;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

fieldset, li, img {
  border: 0;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address, caption, em {
  font-style: normal;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, section {
  display: block;
}

.blind, caption span, legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 100px;
  white-space: nowrap;
}

body {
  font-family: 'notokr', sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

a,
button {
  font-family: 'notokr', sans-serif;
  outline: none;
}

ul:after,
ol:after {
  display: block;
  content: '';
  clear: both;
}

.blind,
caption span,
legend,
figcaption {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

hr {
  display: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background-color: transparent;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

#wrap {
  position: relative;
  height: 100%;
  padding-top: 50px;
  text-align: center;
}

.js-button-area{
  margin-bottom:50px;
  text-align: center;
}

.js-button-area button{
  display:inline-block;
  width:100px;
  height:30px;
  border-radius:3px;
  background-color: #eee;
}

/* 셀렉트 박스 */
.select_wrap{
  text-align: center;
}
.sel_bx {
  display:inline-block;
  position: relative;
  width:150px;
  margin-left:10px;
  font-size: 0;
}

.sel_bx .sel_tit {
  display: block;
  position: relative;
  z-index: 1;
  padding: 0 25px 0 15px;
  border:1px solid #d7d7d7;
  border-radius:5px;
  font-size: 16px;
  color: #202224;
  text-align: left;
  line-height: 42px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.sel_bx .sel_tit span {
  display: block;
  overflow: hidden;
  max-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.sel_bx .sel_tit:after {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 12px;
  height: 7px;
  margin-top: -3px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%2896%2C97%2C103%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: '';
}

.sel_bx .sel_tit:hover:before {
  border-color: #606167;
}

.sel_bx .sel_tit:hover:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
}

.sel_bx .lst_bx {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 10;
  border: 1px solid;
  border-color: #606167;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sel_bx .sel_lst {
  overflow: auto;
  max-height: 160px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.sel_bx .sel_item a {
  display: block;
  height: 32px;
  padding: 0 21px;
  font-size: 16px;
  color: #606167;
  line-height: 32px;
}

.sel_bx .sel_item a:hover {
  background-color: #606167;
  color: #fff;
}
.sel_bx.on .sel_tit{
  border-color:#606167;
}

.sel_bx.on .sel_tit:after {
  background-image:url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M39.5.5L.9 40.9c-2.5 2.6.9 6.6 3.8 4.5l36-25.2 36 25.2c2.9 2.1 6.3-1.9 3.9-4.5L41.8.4c-.7-.6-1.7-.6-2.3.1'/%3E%3C/svg%3E")
}

.sel_bx.on .lst_bx {
  display: block;
}

.m_sel_bx {
  display: none;
}

.sel_bx.mobile .sel_tit {
  color: transparent;
}
.sel_bx.mobile .lst_bx {
  display: none;
}
.sel_bx.mobile .m_sel_bx {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 30px 0 10px;
  background: transparent;
  border-color: transparent;
  font-size: 16px;
  line-height: 30px;
  -webkit-appearance: none;
}

@media screen and (max-width: 800px) {
  .select_wrap{
    padding:0 10px;
  }
  .sel_bx {
    display:block;
    width:100%;
    margin:10px 0 0;
    vertical-align: middle;
  }
  .sel_bx .sel_tit {
    width: 100%;
    height: 50px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 50px;
  }
}