@charset "UTF-8";
/* notosans */
@font-face {
  font-family: 'notokr';
  src: url(font/notokr-regular.eot);
  src: url(font/notokr-regular.eot?#iefix) format("embedded-opentype"), url(font/notokr-regular.woff) format("woff"), url(font/notokr-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'notokr';
  font-weight: 600;
  src: url(font/notokr-bold.eot);
  src: url(font/notokr-bold.eot?#iefix) format("embedded-opentype"), url(font/notokr-bold.woff) format("woff"), url(font/notokr-bold.ttf) format("truetype");
}

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, article, aside, dialog, footer, header, section, footer, nav, figure, main {
  margin: 0;
  padding: 0;
}

article, aside, dialog, footer, header, section, footer, nav, figure, main {
  display: block;
}

html, body {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body, input, select, textarea, button {
  font-family: 'notokr', '돋움', Dotum, sans-serif;
  font-size: 12px;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

fieldset, li, img {
  border: 0;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address, caption, em {
  font-style: normal;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, section {
  display: block;
}

.blind, caption span, legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 100px;
  white-space: nowrap;
}

body {
  font-family: 'notokr', sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

a,
button {
  font-family: 'notokr', sans-serif;
  outline: none;
}

ul:after,
ol:after {
  display: block;
  content: '';
  clear: both;
}

.blind,
caption span,
legend,
figcaption {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

hr {
  display: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background-color: transparent;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

#skip {
  height: 0;
}

#skip a {
  display: block;
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 25px;
  text-align: center;
}

#skip a:focus,
#skip a:active {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 10px 0;
  background: #77a835;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

#wrap {
  position: relative;
  height: 100%;
}

/*Schedule*/
.schedule_wrap {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 200px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.filter_area {
  overflow: hidden;
}

.filter_area .btn_area {
  margin: 35px 0 65px;
  text-align: center;
}

.filter_area .btn_area [class^="btn"] {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 128px;
  height: 48px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.filter_area .btn_area [class^="btn"]:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -ms-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.filter_area .btn_area [class^="btn"]:first-child {
  margin-right: 13px;
}

.filter_area .btn_area [class^="btn"].btn_apply:after {
  background-color: #ee6103;
}

.filter_area .btn_area [class^="btn"].btn_cancel:after {
  background-color: #606167;
}

.filter_area.on .btn_filter:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M39.5.5L.9 40.9c-2.5 2.6.9 6.6 3.8 4.5l36-25.2 36 25.2c2.9 2.1 6.3-1.9 3.9-4.5L41.8.4c-.7-.6-1.7-.6-2.3.1'/%3E%3C/svg%3E");
}

.filter_area.on .filter_bx {
  display: block;
}

.sel_bx {
  display: inline-block;
  padding-right: 7px;
  vertical-align: middle;
}

.sel_bx .sel_tit {
  width: 143px;
  height: 42px;
}

.filter_top {
  height: 49px;
}

.filter_top:before {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  content: '';
}

.filter_top .tit {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #878890;
  letter-spacing: -.2px;
}

.filter_top .tit em {
  margin: 0 5px 0 13px;
  font-weight: bold;
  color: #ee6103;
}

.filter_top .tit em.num {
  font-family: "Shentox-SemiBoldItalic";
  font-weight: normal;
  font-size: 17px;
}

.filter_top .tit em:first-child {
  margin-left: 0;
}

.filter_bx {
  display: none;
}

.filter_cont {
  position: relative;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #eee;
}

.filter_cont .tit {
  display: inline-block;
  margin-right: 22px;
  font-size: 18px;
  color: #202224;
}

.filter_item {
  display: inline-block;
  position: relative;
  padding-top: 30px;
}

.filter_item.item2 {
  padding-left: 80px;
}

.filter_item.item_full {
  display: block;
  padding-top: 20px;
}

.filter_item.item_full:before {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: auto;
  left: 50px;
  border-top: 1px solid #eee;
  content: '';
}

.filter_item.on .team_lst {
  height: 100%;
}

.filter_item.on .btn_view:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28186%2C186%2C189%29'%3E%3Cpath d='M39.5.5L.9 40.9c-2.5 2.6.9 6.6 3.8 4.5l36-25.2 36 25.2c2.9 2.1 6.3-1.9 3.9-4.5L41.8.4c-.7-.6-1.7-.6-2.3.1'/%3E%3C/svg%3E");
}

.filter_item.on .btn_view:hover:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28153%2C153%2C153%29'%3E%3Cpath d='M39.5.5L.9 40.9c-2.5 2.6.9 6.6 3.8 4.5l36-25.2 36 25.2c2.9 2.1 6.3-1.9 3.9-4.5L41.8.4c-.7-.6-1.7-.6-2.3.1'/%3E%3C/svg%3E");
}

.team_lst {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 173px;
  padding: 20px 0 0 99px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.team_item {
  position: relative;
  float: left;
  width: 82px;
  height: 133px;
  padding: 0 4px 20px 4px;
  text-align: center;
}

.team_item .inp_rdo {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-appearance: none;
  -khtml-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.team_item .inp_rdo:checked + label em {
  color: #ee6103;
}

.team_item .inp_rdo:checked + label:before {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M10 2c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8m0-2C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0z'/%3E%3Ccircle cx='10' cy='10' r='5'/%3E%3C/svg%3E");
}

.team_item label {
  display: block;
  margin-top: 5px;
  cursor: pointer;
}

.team_item label em {
  display: block;
  margin-top: 12px;
  font-size: 13px;
  font-weight: bold;
  color: #606167;
  letter-spacing: -.4px;
}

.team_item label img {
  display: block;
  width: 58px;
  height: 58px;
  margin: 0 auto;
}

.team_item label:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' preserveAspectRatio='xMidYMid' fill='rgb%28215%2C215%2C215%29'%3E%3Cpath d='M10 2c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8m0-2C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0z'/%3E%3Ccircle cx='10' cy='10' r='5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}

.team_item label:hover em {
  text-decoration: underline;
}

.team_item:first-child {
  position: absolute;
  top: 20px;
  right: auto;
  bottom: auto;
  left: 0;
}

.btn_filter {
  float: right;
  position: relative;
  width: 126px;
  height: 49px;
  padding-left: 18px;
  border: 1px solid;
  border-color: #d7d7d7;
  border-width: 1px 1px 0 1px;
  outline: none;
  font-size: 16px;
  color: #202224;
  letter-spacing: -.6px;
  text-align: left;
}

.btn_filter:before {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 12px;
  height: 7px;
  margin-top: -3px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}

.btn_filter:after {
  position: absolute;
  top: -13px;
  right: -9px;
  width: 30px;
  height: 22px;
  background-color: #fff;
  border: 1px solid;
  border-color: #d7d7d7;
  border-width: 0 0 1px;
  -ms-transform: rotate(33deg);
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg);
  content: '';
}

.btn_filter:hover {
  border-color: #999;
}

.btn_filter:hover:after {
  border-color: #999;
}

.btn_view {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -35px;
  left: auto;
  width: 124px;
  height: 35px;
  padding-left: 18px;
  background-color: #eee;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 14px;
  color: #bababd;
  text-align: left;
}

.btn_view:after {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 7px;
  margin-top: -4px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28186%2C186%2C189%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}

.btn_view:hover {
  background-color: #e5e5e5;
  color: #9b9b9b;
}

.btn_view:hover:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28153%2C153%2C153%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
}

.schedule_area {
  border: 1px solid;
  border-color: #999;
  border-width: 1px 0 0 0;
}

.list_schedule {
  position: relative;
}

.details {
  display: none;
  padding:10px;
  font-size: 16px;
  line-height: 25px;
}

.week_item.on .summary:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28186%2C186%2C189%29'%3E%3Cpath d='M39.5.5L.9 40.9c-2.5 2.6.9 6.6 3.8 4.5l36-25.2 36 25.2c2.9 2.1 6.3-1.9 3.9-4.5L41.8.4c-.7-.6-1.7-.6-2.3.1'/%3E%3C/svg%3E") !important;
}

.week_item.on .details {
  display: block;
  border-bottom: 1px solid #000;
}

.week_item .summary {
  display: block;
  position: relative;
  height: 70px;
  padding: 0 90px 0 20px;
  border: 1px solid;
  border-color: #e5e5e5;
  border-width: 0 0 1px 0;
  font-family: "Shentox-SemiBoldItalic", "notokr";
  line-height: 70px;
}

.week_item .summary:after {
  content: '';
  display: block;
  clear: both;
}

.week_item .summary .day {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #202224;
}

.week_item .summary .date {
  float: right;
  font-size: 14px;
  letter-spacing: .2px;
  color: #999;
}

.week_item .summary:after {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 21px;
  height: 12px;
  margin-top: -6px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%2896%2C97%2C103%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.week_item .summary:hover {
  background-color: #fcfcfc;
}

.week_item .summary:hover:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
}

.week_item .summary:hover .date {
  color: #878890;
}

.detail_item {
  position: relative;
  padding: 0 20px;
  border-top: 1px solid #eee;
  background-color: #fafafa;
  font-size: 0;
}

.detail_item:first-child {
  border: none;
}

.match_info {
  display: inline-block;
  width: 100%;
  height: 70px;
}

.match_info:after {
  content: '';
  display: block;
  clear: both;
}

.match_info:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.match_info .btn_area {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.match_info .btn_area .btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 34px;
  margin-right: 9px;
  padding: 0 12px;
  font-size: 14px;
  color: #606167;
  line-height: 34px;
  letter-spacing: -.6px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.match_info .btn_area .btn:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -ms-transform: skew(-15deg, 0deg);
  -webkit-transform: skew(-15deg, 0deg);
  transform: skew(-15deg, 0deg);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.match_info .btn_area .btn:after {
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 7px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 81.3' preserveAspectRatio='xMidYMid' fill='rgb%2896%2C97%2C103%29'%3E%3Cpath class='st1' d='M45.5 39.5L5.1.9C2.5-1.6-1.5 1.8.6 4.7l25.2 36-25.2 36c-2.1 2.9 1.9 6.3 4.5 3.9l40.5-38.8c.6-.7.6-1.7-.1-2.3'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: '';
}

.match_info .btn_area .btn:hover {
  color: #202224;
}

.match_info .btn_area .btn:hover:before {
  border-color: #606167;
}

.match_info .btn_area .btn:hover:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 81.3' preserveAspectRatio='xMidYMid' fill='rgb%2832%2C34%2C36%29'%3E%3Cpath class='st1' d='M45.5 39.5L5.1.9C2.5-1.6-1.5 1.8.6 4.7l25.2 36-25.2 36c-2.1 2.9 1.9 6.3 4.5 3.9l40.5-38.8c.6-.7.6-1.7-.1-2.3'/%3E%3C/svg%3E");
}

.match_info .btn_area .btn.disabled {
  color: #d1d1d1;
  cursor: default;
  pointer-events: none;
}

.match_info .btn_area .btn.disabled:before {
  border-color: #e5e5e5;
}

.match_info .btn_area .btn.disabled:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 81.3' preserveAspectRatio='xMidYMid' fill='rgb%28209%2C209%2C209%29'%3E%3Cpath class='st1' d='M45.5 39.5L5.1.9C2.5-1.6-1.5 1.8.6 4.7l25.2 36-25.2 36c-2.1 2.9 1.9 6.3 4.5 3.9l40.5-38.8c.6-.7.6-1.7-.1-2.3'/%3E%3C/svg%3E");
}

.match_date {
  display: inline-block;
  position: relative;
}

.match_date .date {
  display: inline-block;
  font-family: "Shentox-SemiBoldItalic", "notokr";
  font-size: 18px;
  color: #606167;
  vertical-align: middle;
}

.match_date .day {
  display: inline-block;
  padding-left: 10px;
  font-size: 16px;
  color: #606167;
  letter-spacing: -.2px;
  vertical-align: middle;
}

.match_date.live .date {
  color: #ee6103 !important;
}

.match_date.live .day {
  color: #ee6103 !important;
}

.match_date.not_yet .date {
  color: #878890;
}

.match_date.not_yet .day {
  color: #878890;
}

.match_today:before {
  position: absolute;
  top: -17px;
  right: auto;
  bottom: auto;
  left: 0;
  font-family: "Shentox-SemiBoldItalic";
  font-size: 13px;
  color: #ee6103 !important;
  content: 'TODAY';
}

.match_up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 50%;
  height: 100%;
  font-size: 0;
}

.match_up:after {
  content: '';
  display: block;
  clear: both;
}

.match_up .team {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
  padding-right: 112px;
  text-align: right;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.match_up .team:after {
  content: '';
  display: block;
  clear: both;
}

.match_up .team:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.match_up .team.team2 {
  padding: 0 0 0 112px;
  text-align: left;
}

.match_up .team.team2 .score {
  right: auto;
  left: 5px;
}

.match_up .team.team2 .team_logo {
  left: 42px;
  right: auto;
}

.match_up .team.team2 .name {
  padding: 0 10px 0 0;
}

.match_up .team.win .score {
  color: #ee6103;
}

.match_up .team.win .name:after {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -18px;
  width: 9px;
  height: 10px;
  margin-top: -5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 10' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M9 10L4.5 7.8 0 10V0h9z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: '';
}

.match_up .team.win.team2 .name:after {
  right: -18px;
  left: auto;
}

.match_up .name {
  display: inline-block;
  position: relative;
  max-width: 173px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #202224;
  letter-spacing: -.4px;
  vertical-align: middle;
  word-wrap: break-word;
  word-break: keep-all;
}

.match_up .team_logo {
  position: absolute;
  top: 50%;
  right: 42px;
  bottom: auto;
  left: auto;
  margin-top: -29px;
  width: 58px;
  vertical-align: middle;
}

.match_up .team_logo img {
  width: 100%;
}

.match_up .score {
  position: absolute;
  top: 50%;
  right: 5px;
  bottom: auto;
  left: auto;
  font-family: "Shentox-SemiBoldItalic";
  font-size: 24px;
  color: #606167;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.match_up .versus {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  font-family: "Shentox-SemiBoldItalic";
  font-size: 14px;
  color: #878890;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.match_up .versus:before {
  font-family: "Shentox";
  font-weight: bold;
  content: ':';
}

.match_up .out .name {
  opacity: .3;
}

.match_up .out .name:before {
  display: block;
  padding-bottom: 3px;
  letter-spacing: -.4px;
  content: '실격';
}

.match_up .out.team2 .name:before {
  left: 0;
}

.match_up .out .team_logo {
  opacity: .3;
}

.match_up .bye .name:before {
  display: block;
  padding-bottom: 3px;
  color: #f8931b;
  letter-spacing: -.4px;
  content: '부전승';
}

.match_up .bye.team2 .name:before {
  left: 0;
}

.match_up.not_yet .score {
  display: none;
}

.match_up.not_yet .versus:before {
  font-family: "Shentox";
  font-size: 18px;
  font-weight: bold;
  color: #bababd;
  content: 'VS';
}

.result_none {
  padding: 200px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  color: #202224;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .sub_menu {
    display: none;
  }
  .schedule_wrap {
    max-width: 100%;
    padding: 20px 20px 40px;
  }
  .filter_area .btn_area {
    margin: 15px 0 25px;
  }
  .filter_area .btn_area [class^="btn"] {
    width: 88px;
    height: 40px;
    font-size: 13px;
  }
  .filter_area .btn_area [class^="btn"]:first-child {
    margin-right: 9px;
  }
  .sel_bx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: -webkit-calc((100% - 45px) * 0.5);
    width: calc((100% - 45px) * 0.5);
    padding-right: 7px;
    vertical-align: middle;
  }
  .sel_bx .sel_tit {
    width: 100%;
    height: 30px;
    padding-right: 25px;
  }
  .filter_top {
    height: 36px;
  }
  .filter_top .tit {
    font-size: 13px;
    letter-spacing: -.5px;
  }
  .filter_top .tit em {
    margin: 0 3px 0 5px;
  }
  .filter_top .tit em.num {
    font-size: 14px;
  }
  .filter_cont {
    border-bottom: 0;
  }
  .filter_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 0;
  }
  .filter_item:first-child {
    padding-top: 18px;
  }
  .filter_item:only-child {
    margin-top: 0 !important;
  }
  .filter_item:only-child:before {
    display: none;
  }
  .filter_item .tit {
    display: table-cell;
    width: 45px;
    margin: 0;
    padding-right: 14px;
    font-size: 14px;
    vertical-align: middle;
  }
  .filter_item.item1 .sel_bx:nth-of-type(1) {
    margin-right: 7px;
  }
  .filter_item.item2 {
    padding-left: 0;
  }
  .filter_item.item_full {
    margin-top: 12px;
    padding: 15px 0 0;
  }
  .filter_item.item_full:before {
    top: 0;
    left: 0;
  }
  .team_lst {
    height: 260px;
    padding: 0;
  }
  .team_item {
    width: 25%;
    height: 110px;
    padding: 0 0 20px;
  }
  .team_item:first-child {
    position: relative;
    top: 0;
  }
  .team_item label img {
    width: 53px;
    height: 53px;
  }
  .team_item label em {
    max-width: 53px;
    margin: 5px auto;
    font-size: 11px;
  }
  .team_item label:before {
    width: 14px;
    height: 14px;
  }
  .btn_filter {
    width: 86px;
    height: 36px;
    padding-left: 10px;
    font-size: 13px;
  }
  .btn_filter:before {
    right: 14px;
    width: 10px;
    height: 5px;
  }
  .btn_filter:after {
    width: 20px;
    height: 11px;
    top: -6px;
    right: -5px;
  }
  .btn_view {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    left: 0;
    width: 100%;
    padding: 0;
    font-size: 12px;
    text-align: center;
  }
  .btn_view:after {
    display: inline-block;
    position: static;
    width: 11px;
    height: 6px;
    margin-left: 5px;
    vertical-align: middle;
  }
  .week_item .summary {
    height: 50px;
    padding-right: 27px;
    line-height: 50px;
  }
  .week_item .summary .day {
    font-size: 17px;
  }
  .week_item .summary .date {
    font-size: 12px;
  }
  .week_item .summary:after {
    right: 6px;
    width: 11px;
    height: 6px;
    margin-top: -5px;
  }
  .week_item.on .list_schedule_detail {
    padding-bottom: 0;
  }
  .detail_item {
    padding: 0;
    border-color: #e5e5e5;
  }
  .match_info {
    height: 100%;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .match_info:before {
    display: none;
  }
  .match_info .btn_area {
    display: block;
    padding: 9px 10px 0;
  }
  .match_info .btn_area:after {
    content: '';
    display: block;
    clear: both;
  }
  .match_info .btn_area .btn {
    height: 26px;
    margin-right: 8px;
    padding: 0 9px;
    font-size: 11px;
    line-height: 27px;
  }
  .match_info .btn_area .btn:after {
    width: 5px;
    height: 8px;
    margin-left: 4px;
  }
  .match_date {
    display: block;
    height: 14px;
    padding: 13px 10px 0;
    line-height: 14px;
  }
  .match_date .date {
    font-size: 12px;
  }
  .match_date .date span {
    margin-left: 2px;
    font-weight: bold;
  }
  .match_date .day {
    padding-left: 5px;
    font-size: 12px;
  }
  .match_today:before {
    top: 50%;
    left: auto;
    right: 10px;
    font-size: 11px;
  }
  .match_up {
    display: table;
    position: relative;
    width: 100%;
    margin-top: 12px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .match_up .team {
    display: table-cell;
    float: none;
    height: 29px;
    padding-right: 61px;
    vertical-align: middle;
  }
  .match_up .team.win .name:after {
    left: 0;
    width: 7px;
    height: 8px;
    margin-top: -3px;
  }
  .match_up .team.team2 {
    padding: 0 0 0 61px;
  }
  .match_up .team.team2 .team_logo {
    left: 23px;
    right: auto;
  }
  .match_up .team.team2.win .name {
    padding: 0 15px 0 0px;
  }
  .match_up .team.team2.win .name:after {
    right: 0;
  }
  .match_up .name {
    position: static;
    font-size: 12px;
  }
  .match_up .team_logo {
    right: 23px;
    width: 29px;
    margin-top: -15px;
  }
  .match_up .score {
    font-size: 15px;
  }
  .match_up.not_yet .versus:before {
    display: block;
    font-size: 15px;
  }
  .result_none {
    padding: 70px 0;
    font-size: 13px;
  }
}