@charset "UTF-8";
/* notosans */
@font-face {
  font-family: 'notokr';
  src: url(font/notokr-regular.eot);
  src: url(font/notokr-regular.eot?#iefix) format("embedded-opentype"), url(font/notokr-regular.woff) format("woff"), url(font/notokr-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'notokr';
  font-weight: 600;
  src: url(font/notokr-bold.eot);
  src: url(font/notokr-bold.eot?#iefix) format("embedded-opentype"), url(font/notokr-bold.woff) format("woff"), url(font/notokr-bold.ttf) format("truetype");
}

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, article, aside, dialog, footer, header, section, footer, nav, figure, main {
  margin: 0;
  padding: 0;
}

article, aside, dialog, footer, header, section, footer, nav, figure, main {
  display: block;
}

html, body {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body, input, select, textarea, button {
  font-family: 'notokr', '돋움', Dotum, sans-serif;
  font-size: 12px;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

fieldset, li, img {
  border: 0;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address, caption, em {
  font-style: normal;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, section {
  display: block;
}

.blind, caption span, legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 100px;
  white-space: nowrap;
}

body {
  font-family: 'notokr', sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

a,
button {
  font-family: 'notokr', sans-serif;
  outline: none;
}

ul:after,
ol:after {
  display: block;
  content: '';
  clear: both;
}

.blind,
caption span,
legend,
figcaption {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

hr {
  display: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background-color: transparent;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

#wrap {
  position: relative;
  height: 100%;
}

.list_area {
  border: 1px solid;
  border-color: #999;
  border-width: 1px 0 0 0;
}

.list {
  position: relative;
}

.details {
  display: none;
  padding:10px;
  font-size: 16px;
  line-height: 25px;
}

.list_item.on .list_cont:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28186%2C186%2C189%29'%3E%3Cpath d='M39.5.5L.9 40.9c-2.5 2.6.9 6.6 3.8 4.5l36-25.2 36 25.2c2.9 2.1 6.3-1.9 3.9-4.5L41.8.4c-.7-.6-1.7-.6-2.3.1'/%3E%3C/svg%3E") !important;
}

.list_item.on .details {
  display: block;
  border-bottom: 1px solid #000;
}

.list_item .list_cont {
  display: block;
  position: relative;
  height: 70px;
  padding: 0 90px 0 20px;
  border: 1px solid;
  border-color: #e5e5e5;
  border-width: 0 0 1px 0;
  font-family: "Shentox-SemiBoldItalic", "notokr";
  line-height: 70px;
}

.list_item .list_cont:after {
  content: '';
  display: block;
  clear: both;
}

.list_item .list_cont .txt {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #202224;
}

.list_item .list_cont .date {
  float: right;
  font-size: 14px;
  letter-spacing: .2px;
  color: #999;
}

.list_item .list_cont:after {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 21px;
  height: 12px;
  margin-top: -6px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%2896%2C97%2C103%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.list_item .list_cont:hover {
  background-color: #fcfcfc;
}

.list_item .list_cont:hover:after {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 81.4 46' preserveAspectRatio='xMidYMid' fill='rgb%28238%2C97%2C3%29'%3E%3Cpath d='M39.5 45.5c.6.7 1.6.7 2.3.1L80.6 5.1c2.4-2.6-1-6.6-3.9-4.5l-36 25.2L4.7.6C1.8-1.5-1.6 2.5.9 5.1l38.6 40.4'/%3E%3C/svg%3E");
}

.list_item .list_cont:hover .date {
  color: #878890;
}

@media screen and (max-width: 800px) {
  .list_item .list_cont {
    height: 50px;
    padding-right: 27px;
    line-height: 50px;
  }
  .list_item .list_cont .txt {
    font-size: 17px;
  }
  .list_item .list_cont .date {
    font-size: 12px;
  }
  .list_item .list_cont:after {
    right: 6px;
    width: 11px;
    height: 6px;
    margin-top: -5px;
  }
}