.header {
  border: 1px solid $red;
}

.btn_menu {
  width: 25px;
  height: 25px;

  background: {
    image: url(../../asset/images/logo.png);
    // image: url(./ico-menu.svg);
    repeat: no-repeat;
  }
}