.header {
  height: 52px;
  background-color: $dark;

  &_logo {
    display: inline-block;
    height: 100%;

    &_link {
      display: block;
      width: 118px;
      height: 100%;

      background: {
        image: url('asset/images/logo_white.png');
        repeat: no-repeat;
        position: center center;
      }
    }
  }
}

.btn_menu {
  width: 33px;
  height: 33px;

  background: {
    image: url(./images/icon-menu.svg);
    repeat: no-repeat;
  }

  &_icon {
    color: $white;
  }
}