.header {
  position: relative;
  height: 52px;
  background-color: $dark;

  &_logo {
    display: inline-block;
    height: 100%;
    margin-left: 77px;

    &_link {
      display: block;
      width: 118px;
      height: 100%;

      background: {
        image: url('asset/images/logo_white.png');
        repeat: no-repeat;
        position: center center;
      }
    }
  }
}

.btn_menu {
  position: absolute;
  top: 0;
  left: 26px;
  width: 33px;
  height: 100%;

  &_icon {
    color: $white;
  }
}

.gnb {
  display: inline-block;

  &_item {
    display: inline-block;
  }
}