@charset "UTF-8";
/* notosans */
@font-face {
  font-family: 'notokr';
  src: url(font/notokr-regular.eot);
  src: url(font/notokr-regular.eot?#iefix) format("embedded-opentype"), url(font/notokr-regular.woff) format("woff"), url(font/notokr-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'notokr';
  font-weight: 600;
  src: url(font/notokr-bold.eot);
  src: url(font/notokr-bold.eot?#iefix) format("embedded-opentype"), url(font/notokr-bold.woff) format("woff"), url(font/notokr-bold.ttf) format("truetype");
}

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, article, aside, dialog, footer, header, section, footer, nav, figure, main {
  margin: 0;
  padding: 0;
}

article, aside, dialog, footer, header, section, footer, nav, figure, main {
  display: block;
}

html, body {
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body, input, select, textarea, button {
  font-family: 'notokr', '돋움', Dotum, sans-serif;
  font-size: 12px;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

fieldset, li, img {
  border: 0;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

address, caption, em {
  font-style: normal;
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, section {
  display: block;
}

body {
  font-family: 'notokr', sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: none;
}

a,
button {
  font-family: 'notokr', sans-serif;
  outline: none;
}

ul:after,
ol:after {
  display: block;
  content: '';
  clear: both;
}

.blind,
caption span,
legend,
figcaption {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

hr {
  display: none;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  background-color: transparent;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

#wrap {
  position: relative;
  height: 100%;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.btn_top {
  display: none;
  overflow: hidden;
  position: fixed;
  top: auto;
  right: 14px;
  bottom: 150px;
  left: auto;
  z-index: 10;
  width: 67px;
  height: 68px;
  background: url(../img/btn_top.png) no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 999px;
}