.list {
  &_item {
    display: inline-block;
    width: 20%;
  }

  &_inner {
    overflow: hidden;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
  }

  &_name {
    position: relative;
    padding: 10px;
    color: #2a2a2a;
    text-align: center;

    &:hover {
      .copy {
        visibility: visible;
      }
    }

    &_inner {
      @include ellipsis;
    }

    &_em {
      margin-left: 3px;
      color: orange;
    }

    .copy {
      visibility: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2a2a2a;
      font-size: 13px;
      color: #fff;
    }
  }

  &_path {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 12px;
    color: rgba(51, 51, 51, .3);
    box-sizing: border-box;
    text-align: center;

    &_inner {
      @include ellipsis(1, block);
    }
  }

  &_viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    padding: 10px;
    background-color: #eee;
    text-align: center;
    box-sizing: border-box;

    &:hover {
      .list_viewer_text {
        visibility: visible;
      }
    }

    &.dark {
      background-color: #2a2a2a;
    }

    &_text {
      visibility: hidden;
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 11px;
      color: gray;
    }
  }

  &_file {
    display: inline-block;
    max-width: 50px;
    max-height: 50px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_source {
    overflow: auto;
    height: 100px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(51, 51, 51, .5);

    &_inner {
      display: block;
      overflow: hidden;
      margin: 10px;
      box-sizing: border-box;
    }
  }
}