$screen-xsm: 320px; // Mobile Minimum Size
$screen-sm: 828px; // Mobile Maximum Size (iPhone6,7,8 Plus)
$screen-md: 1024px;
$screen-lg: 1366px; // Tablet Maximum Size (ipad Pro)
$screen-xlg: 1920px; // Desktop Maximum Size

$black: #000;
$white: #fff;